<div class="panel-group" id="menu">
	  <div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-parent="#menu" href="#collapseSettings">Management</div>
					<div id="collapseSettings" class="list-group panel-collapse collapse">
              <a href="/profile" class="list-group-item">Profile</a>
							<a href="/weblogs" class="list-group-item active">Web Logs</a>
					</div>
		</div>
</div>
