<div class="uk-flex uk-height-medium uk-margin">
  <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">
    <h1 class="uk-heading-primary uk-text-center">Admin</h1>
    <form class="uk-form-stacked">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Email</label>
        <div class="uk-form-controls">
          <input class="uk-input" type="email" placeholder="">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Password</label>
        <div class="uk-form-controls">
          <input class="uk-input" type="text" placeholder="">
        </div>
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-default uk-align-center">Login</button>
      </div>
    </form>
  </div>
</div>
