<div class="row">
    <div class="medium-4 medium-offset-4 columns">
        <h1 class="subheader text-center">Admin</h1>
        <form data-abide novalidate>
            <div class="row">
                <div class="small-12 columns">
                    <label>Email
                      <input type="email" id="email" placeholder="email" required>
                      <span class="form-error">
                        it's required.
                      </span>
                    </label>
                </div>
                <div class="small-12 columns">
                    <label>Password
                          <input type="password" id="password" placeholder="password" required>
                          <span class="form-error">
                            it's required.
                          </span>
                    </label>
                </div>
                <div class="small-12 columns">
                    <button type="submit" class="button expanded">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
