{{#extend "body"}}

{{> navbar}}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <form autocomplete="off" class="form-horizontal" role="form" id="login-form" novalidate v-on:submit.prevent="validateForm">
                    <div class="panel-body">
                        <div class="form-group has-feedback" v-bind:class="{'has-error': errors.has('email'), 'has-success': fields.passed('email')}">
                            <label for="email" class="col-md-4 control-label">Email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" placeholder="Email" v-model.trim="email" v-validate="{rules:'required|email|max:255'}">
                                <span v-show="errors.has('email') || fields.passed('email')" v-cloak class="glyphicon form-control-feedback" v-bind:class="{'glyphicon-remove': errors.has('email'), 'glyphicon-ok': fields.passed('email')}"></span>
                                <span v-show="errors.has('email')" v-cloak class="help-block" v-text="errors.first('email')"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback" v-bind:class="{'has-error': errors.has('password'), 'has-success': fields.passed('password')}">
                            <label for="password" class="col-md-4 control-label">Password</label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" name="password" placeholder="Password" v-model.trim="password" v-validate="{rules:'required|min:6|max:20'}">
                                <span v-show="errors.has('password') || fields.passed('password')" v-cloak class="glyphicon form-control-feedback" v-bind:class="{'glyphicon-remove': errors.has('password'), 'glyphicon-ok': fields.passed('password')}"></span>
                                <span v-show="errors.has('password')" v-cloak class="help-block" v-text="errors.first('password')"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-6">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <a class="btn btn-link" href="/password/reset">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> loading}}

{{/extend}}
