<style>
    .o {
        outline: 1px solid red;
    }

    .c {
        text-align: center;
    }
</style>
<div uk-grid>
    <div class="uk-width-1-1">
        <h1 class="uk-heading-primary uk-text-center">Todo List</h1>
    </div>
</div>
<div uk-grid>
    <div class="uk-width-1-6">
      <form class="uk-grid-small" uk-grid>
    <div class="uk-width-1-1">
        <input class="uk-input" type="text" placeholder="100">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="50">
    </div>
    <div class="uk-width-1-4@s">
        <input class="uk-input" type="text" placeholder="25">
    </div>
    <div class="uk-width-1-4@s">
        <input class="uk-input" type="text" placeholder="25">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="50">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="50">
    </div>
</form>
    </div>
</div>
<div uk-grid class="uk-column-1-3 uk-column-1-3">
    <div></div>

    <div class="uk-card uk-card-default uk-card-body">
        <ul class="uk-list uk-list-divider">
            <li>List item 1</li>
            <li>List item 2</li>
        </ul>
    </div>
    <div></div>
</div>
</div>
