<style>
    [v-cloak] {
        display: none;
    }
</style>
<div class="uk-container" id="vue-app">

    <div class="uk-flex uk-flex-center">
        <form>
            <legend class="uk-legend uk-text-center">Todo List</legend>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Content" v-model="content">
                <button type="button" class="uk-button uk-button-default" @click="submitBtn">Submit</button>
            </div>
        </form>
    </div>

    <div class="uk-flex uk-flex-center">
        <ul class="uk-subnav uk-subnav-divider" uk-margin>
            <li class="uk-active"><a href="javascript:;">All</a></li>
            <li><a href="javascript:;">Active</a></li>
            <li><a href="javascript:;">Completed</a></li>
            <li><a href="javascript:;">Clear Completed</a></li>
        </ul>
    </div>

    <div class="uk-flex uk-flex-center">

        <div class="uk-width-medium">
            <ul class="uk-list uk-list-divider">
                <li v-cloak v-for="item in rows">
                    <span v-text="item.id"></span>
                    <span v-text="item.content"></span>
                    <div class="uk-float-right">
                        <button type="button" uk-close></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <ul class="uk-pagination uk-flex-center" uk-margin>
        <!-- left-arraw -->
        <li v-if="page !== 1"><a href="javascript:;" @click="changePage(page-1)"><span uk-pagination-previous></span></a></li>
        <!-- fist page -->
        <li v-if="page !== 1"><a href="javascript:;" @click="changePage(1)">1</a></li>
        <!-- ...page -->
        <li v-if="page-2 > 1" class="uk-disabled"><span>...</span></li>

        <li v-if="page-1 > 1">
            <a href="javascript:;" v-text="page-1" @click="changePage(page-1)"></a>
        </li>
        <li class="uk-active" v-text="page"></li>
        <li v-if="page+1 < Math.ceil(count/limit)">
            <a href="javascript:;" v-text="page+1" @click="changePage(page+1)"></a>
        </li>

        <!-- ...page -->
        <li v-if="page+2 < Math.ceil(count/limit)" class="uk-disabled"><span>...</span></li>
        <!-- last page -->
        <li v-if="page !== Math.ceil(count/limit)">
            <a href="javascript:;" v-text="Math.ceil(count/limit)" @click="changePage(Math.ceil(count/limit))"></a>
        </li>
        <!-- right-arraw -->
        <li v-if="page !== Math.ceil(count/limit)"><a href="javascript:;" @click="changePage(page+1)"><span uk-pagination-next></span></a></li>
    </ul>

</div>
<!-- uk-container -->
