<!DOCTYPE html>
<html lang="en">

<head>
    <base href="./dist/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="images/favicon.png" rel="icon" type="image/png">
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script src="js/plugins.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <ul class="uk-iconnav">
    <li><a href="" uk-icon="icon: check"></a></li>
    <li><a href="" uk-icon="icon: check"></a></li>
    <li><a href="" uk-icon="icon: check"></a></li>
    <li><a href="" uk-icon="icon: check"></a></li>
      <li><a href="" uk-icon="icon: check"></a></li>
  </ul>
123
</body>

</html>
